#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Sofia Sans Condensed', sans-serif;

  background: url(/bgMain.png) 50% center / cover no-repeat rgb(255, 255, 255);

  @media only screen and (max-width: 1279px) {
    background: url(/bgMainTablet.png) 50% center / cover no-repeat rgb(255, 255, 255);
  }
}