.swap-form-container {
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-radius: 32px;
    border: 1px solid #8725b4;
    backdrop-filter: blur(10px);
    max-width: 624px;
    width: 100%;
    background: #1f44ab;
    background: linear-gradient(3200deg, rgba(31, 68, 171, 1) 0%, rgba(109, 45, 133, 1) 40%, rgba(138, 20, 222, 1) 100%);
    color: #fff;
    box-sizing: border-box;
    gap: 16px;
}

.swap-form-content {
    position: relative;
}

.swap-form-input-container {
    padding: 32px 24px 46px;
    border-radius: 20px;
    width: 100%;
    gap: 16px;
    box-sizing: border-box;
}

.swap-form-input-container:first-child {
    background: url('/bgFieldTop.png') no-repeat top / cover;
    height: 194px;
}

.swap-form-input-container:last-child {
    margin-top: 16px;
    background: url('/bgFieldBottom.png') no-repeat bottom / cover;
    height: 168px;
}

.swap-form-swap-icon {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    z-index: 0;
    color: #000;
    cursor: pointer;
    background-color: #43ffe2 !important;
    margin: 0px auto;
    transition: 0.4s ease-in-out;
    border-radius: 50% !important;
}

.swap-form-input-header {
    height: 22px;
}

.swap-form-input-header-left-text {
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -.1px;
    line-height: 1;
}

.swap-form-input-header-right-text {
    line-height: 1.1;
    letter-spacing: -.1px;
    font-weight: 400;
    font-size: 16px;
}
